/* font ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    font-family: victor mono;
}

/* Color ----------------------------------------------------------------------------------------------------------------------------------------------------- */
.background {
    background-color: #2b292c;
}

.red {
    color: #FF6188;
}

.yellow {
    color: #FFD866;
}

.blue {
    color: #78DCE8;
}

.purple {
    color: #AB9DF2;
}

.purple1 {
    color: #e49df2;
}

.gray {
    color: #75715E;
}