/* code wallpaper ------------------------------------------------------------------------------------------------------------------------------- */
.script {
    padding-top: 7px;
    color: white;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.center {
    justify-content: center;
}

/* browser ----------------------------------------------------------------------------------------------------------------------------------------------*/
.browser {
    display: block;
    width: 599px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin:auto;
}

.txtBox {
	outline: none;
	box-sizing: border-box;
    background-color: #3a234600;
	height: 40px;
	width: 550px;
	padding: 0px;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 20px;
	border: 0px;
}

.btn {
	outline: none;
	box-sizing: border-box;
    background-color: #a9dc7600;
	height: 40px;
	width: 33px;
	padding: 0px;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	font-size: 20px;
	border: 0px;
    text-align: center;
    cursor: pointer;
}

/* shortcuts ---------------------------------------------------------------------------------------------------------------------------------------*/


.tabSpace {
    color: rgb(58, 58, 58);
}

.shrtList {
    width: 599px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
}

a {
    text-decoration: none;
}

.shortcut {
    color: rgb(124, 124, 124);
}

.ese {
    color: #66D9EF;
}

.moo {
    color: #FD971F;
}

.git {
    color: cornsilk;
}

.wha {
    color: #A6E22E;
}

.you {
    color: #F92672;
}

.mon {
    color: #E6DB74;
}